body {
    background-image: url("space7.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    background-position: center;
    font-family:'Roboto Mono', monospace, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
ul {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
}

li a {
  font-family: 'Bebas Neue', cursive, sans-serif;
  font-size: 2.5em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 1em 1em 0em;
}

li a:hover {
  background-color: rgba(0,0,0,0.5);
}

h1 {
  font-family:'Roboto Mono', monospace, sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 400%;
  padding-top: 15%;
}
table, td {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
}

#map {
    min-height:300px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: grey;
}

#mars {
  background-image: url(mars.jpg);
}

#hubble h1 {
  padding-top: 8%;
}

#mars h1 {
  padding-top: 8%;
}

#saturn h1 {
  padding-top: 8%;
}
#about h1 {
  padding-top: 8%;
}
#safety h1 {
  padding-top: 8%;
}
img{
  margin-left: 1em;
  margin-right: auto;
  margin-top: 1em;
}

main {
  margin-left: auto;
  margin-right: auto;
  background: hsla(0,0%,80%,.3);
  width: 50em;
  padding: 1em;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 3px;
}

p.errorMsg {
   display: none;
   color: red;
   text-align: center;
}

p {
  text-align: center;
  font-size: 1em;
  text-shadow: 2px 2px 8px #8e5a33;
}

#saturn {
  background-image: url(saturn.jpg);
}
#about {
  background-image: url(space8.jpg);
  background-size: 110%;
}
form {
  text-align: center;
}
#fNameErr {
  color: red;
}
#safety a {
    color: white;
}
